@import "./styles/fonts.css";
@import "./styles/animations.css";
@import "./styles/tilt.css";
@import "./styles/scroll-reveal.css";
@import "./styles/page-intro.css";

@tailwind base;
@tailwind components;
@tailwind utilities;
